<?xml version='1.0' encoding='utf-8'?>
<plugin id="fingerprint-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FingerprintPlugin</name>
    <js-module name="FingerprintPlugin" src="www/fingerprintPlugin.js">
        <clobbers target="window.fingerprintPlugin" />
    </js-module>
    
    <platform name="android">
    	<config-file target="res/xml/config.xml" parent="/*">
    		<feature name="FingerprintPlugin">
    			<param name="android-package" value="com.zkmeiling.serialport.fingerprint.FingerprintPlugin"/>
    		</feature>
    	</config-file>
    	
    	<source-file src="src/android/fingerprint/FingerprintPlugin.java" target-dir="src/com/zkmeiling/serialport/fingerprint"/>
    	
    	<source-file src="src/android/model/FingerReceived.java" target-dir="src/com/zkmeiling/serialport/model"/>
    </platform>
</plugin>
